<h2>Admin and Security for
    <u>{{myUser}}</u>
</h2>
<form name="adminForm" class="well col-xs-12">

    <div class="form-group row">
        <label for="system_under_test" class="col-xs-6 col-form-label">Create a new group</label>
        <label for="system_under_test" class="col-xs-6 col-form-label">Delete an unused group</label>
    </div>
    <div class="row">
        
        <div class="col-xs-3">
            <input required type="text" ng-pattern="/^\S*$/" id="system_under_test" class="form-control" ng-model="createSut.name" placeholder="Enter group name(no spaces)">
            <div style='color:#46a85a;font-weight:normal;font-size: 13px;'>{{createGroupMessage}}</div>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-success" ng-disabled="!createSut.name" ng-click="checkAndAddGroup(createSut)"><span class="glyphicon glyphicon-plus"></span> Create Group</button>
        </div>
        
        <div class="col-xs-3">
            <select required class="form-control" ng-model="deleteSut" id="system_under_test" ng-options="sut.name for sut in deleteSutList | orderBy:'name'">
                <option selected="selected" disabled="true">Select Group</option>
            </select>
                    <div style='color:#b40037;font-weight:normal;font-size: 13px;'>{{deleteGroupMessage}}</div>
        </div>


        <div class="col-xs-3">
            <button type="button" class="btn btn-danger" ng-disabled="!deleteSut" ng-click="removeGroup(deleteSut)">
                <span class="glyphicon glyphicon-trash"></span> Delete Group</button>
        </div>
        <br>
    </div>

    <br>
        <hr style="height:1px;border:none;color:#9f9696;background-color:#9f9696;" />
    </br>

    <div class="form-group row">
        <label for="system_under_test" class="col-xs-3 col-form-label">Select a group to view/edit users</label>
        <div class="col-xs-3">
            <select class="form-control" id="system_under_test" ng-model="selectedSut" ng-options="sut.name for sut in sutlist | orderBy:'name'"></select>
        </div>
    </div>

    <div class="row" ng-show="selectedSut.name">
        <div class="col-xs-2">
            <select class="form-control" id="user" title="Select user" ng-model="member" ng-options="user.name for user in userlist | orderBy:'name' | filter: removeMembers"></select>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-success" ng-disabled="!selectedSut.name || !member" ng-click="addMember()">
                <span class="glyphicon glyphicon-plus"></span>
                Add member
            </button>
        </div>
    </div>
    <br>

    <div ng-show="selectedSut.name">
        <ul class="row">
            <div data-ng-repeat="member in memberlist track by $index" ng-show="member!=='mockiato'" class="row">
                <div class="col-xs-2">
                    {{member}}
                </div>

                <div class="col-xs-4">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="removeMember($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                        Remove
                    </button>
                </div>
                <br></br>
            </div>
        </ul>
    </div>
</form>


<h2>Groups and Owner Info</h2>
<form name="groupOwnerInfoForm" class="well col-xs-12">
  <p>Contact any user to have access to the group.</p><br>
  <div class="form-group row">
        <label class="col-xs-3 col-form-label">Select a group to find its users</label>
        <div class="col-xs-3">
            <select class="form-control" id="system_under_test" ng-model="getOwnerForThisSut" ng-options="sut.name for sut in allSUT | orderBy:'name'"></select>
        </div>
    </div>
    <div class="form-group row" ng-show="getOwnerForThisSut">
            <label class="col-xs-3 col-form-label">Users</label>
            <div ng-if="usersList.length == 1" class="col-xs-3"><text style='color: #FF4851'>There are no users in this group.</text></div>
            <div class="col-xs-3"><text ng-repeat="user in usersList | filter: mockiatoAdminFilter">{{user}}{{$last ? '' : ', '}}</text></div>
    </div>
</form>