<h2>Deleted Services</h2>
<div class="clearfix"></div>
<br>
    <div class="col-xs-12" >
    <form class="form-inline">
        <div class="form-group">
            <label for="system_under_test">Group:</label>
            <select class="form-control" id="system_under_test" title="Select SUT" ng-model="selectedSut" ng-options="sut.name for sut in sutlist | orderBy:'name'"></select>
            <label for="system_under_test">Owner:</label>
            <select class="form-control" id="user" title="Select Owner" ng-model="selectedUser" ng-options="user.name for user in userlist | orderBy:'name'"></select>&nbsp;
           <!-- <button type="submit" class="btn btn-primary" ng-click="filtersSelected(selectedSut, selectedUser)">Find</button>&nbsp; -->
            <button type="submit" class="btn btn-primary" ng-click="clearSelected()">Clear</button>
        </div>
        <!--to remove-->
        <button type="submit" class="btn white pull-right" ng-click="script()"></button>
    </form>
    </div>
    <div class="clearfix">
        <br>
        <br>
    </div>
    <div class="col-xs-12" >
        <table class="table table-bordered table-striped well">
                <tr>
                        <th style="white-space: nowrap">
                            Name <a href="" title="sort by name" align="right" ng-click="orderByField='name'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a></td>
                        </th>
                        <th style="white-space: nowrap">Owner</th>
                        <th style="white-space: nowrap">
                            Group <a href="" title="sort by group" ng-click="orderByField='sut.name'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th style="white-space: nowrap">
                            Type <a href="" title="sort by type" ng-click="orderByField='type'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th style="white-space: nowrap">
                            Base URL <a href="" title="sort by base url" ng-click="orderByField='basePath'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th style="white-space: nowrap">Action</th>
                </tr>
            <tr ng-repeat="service in servicelist | orderBy:orderByField:reverseSort" style=" word-break:break-all">
                <td style="width:150px"><a href="#!showArchiveService/{{ service._id }}/frmArchive" title="view service details">{{service.name}}</a></td>
                <td style="white-space: nowrap">{{service.user.uid}}</td>
                <td zstyle="white-space: nowrap">{{service.sut.name}}</td>
                <td style="white-space: nowrap">{{service.type}}</td>
                <td style="widows: 330px" class="urlmax">{{ service.basePath ? mockiatoHost + '/virtual' + service.basePath : '' }}</td>
                <td style="width:340px">
                    <button class="btn btn-info" title="Service Info" ng-click="serviceInfo(service._id)"><i class="glyphicon glyphicon-info-sign"></i></button>&nbsp;
                    <button class="btn btn-primary" title="Export your service as a JSON file to save, send, or import anytime" ng-click="exportService(service)">Export <i class="glyphicon glyphicon-export"></i></button>&nbsp;
                    <button class="btn btn-success" ng-if="adminUser===myUser || myGroups.includes(service.sut.name)" title="Restore Service" ng-click="restoreService(service)">Restore <i class="glyphicon glyphicon-repeat"></i></button>
                    <button class="btn btn-danger" ng-if="adminUser===myUser" title="Permanent Delete" ng-click="deleteArchiveService(service)">Delete <i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
        </table>
    </div>
