<h2>Draft Services</h2>
<div class="clearfix"></div>
<br>
    <div class="col-xs-12" >
    <form class="form-inline">
        <div class="form-group">
            <label for="system_under_test">Group:</label>
            <select class="form-control" id="system_under_test" title="Select SUT" ng-model="selectedSut" ng-options="sut.name for sut in sutlist | orderBy:'name'"></select>
            <label for="system_under_test">Owner:</label>
            <select class="form-control" id="user" title="Select Owner" ng-model="selectedUser" ng-options="user.name for user in userlist | orderBy:'name'"></select>&nbsp;
          <!--  <button type="submit" class="btn btn-primary" ng-click="filtersSelected(selectedSut, selectedUser)">Find</button>&nbsp; -->
            <button type="submit" class="btn btn-primary" ng-click="clearSelected()">Clear</button>
        </div>
        
        <!--to remove-->
        <button type="submit" class="btn white pull-right" ng-click="script()"></button>
    </form>
    </div>
    <div class="clearfix">
        <br>
        <br>
    </div>
    <div class="col-xs-12" >
        <table class="table table-bordered table-striped well">
                <tr>
                        <th>
                            Name <a href="" title="sort by name" align="right" ng-click="orderByField='name'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a></td>
                        </th>
                        <th>Owner</th>
                        <th>
                            Group <a href="" title="sort by group" ng-click="orderByField='sut.name'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th>
                            Type <a href="" title="sort by type" ng-click="orderByField='type'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th>
                            Base URL <a href="" title="sort by base url" ng-click="orderByField='basePath'; reverseSort = !reverseSort"><small><span ng-show="!reverseSort" class ="glyphicon glyphicon-sort"></span></small><small><span ng-show="reverseSort" class ="glyphicon glyphicon-sort"></span></small></a>
                        </th>
                        <th>Action</th>
                </tr>
            <tr ng-repeat="service in servicelist | orderBy:orderByField:reverseSort" style=" word-break:break-all">
                <td style="width:120px"><a href="#!showDraftService/{{ service._id }}/frmDraft" title="edit/publish this service">{{service.name}}</a></td>
                <td>{{service.user.uid}}</td>
                <td style="width:120px">{{service.sut.name}}</td>
                <td>{{service.type}}</td>
                <td class="urlmax">{{ service.basePath ? mockiatoHost + '/virtual' + service.basePath : '' }}</td>
                <td>                   
                    <button class="btn btn-default" ng-if="myGroups.includes(service.sut.name)" title="Delete Service" ng-click="deleteDraftService(service)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </table>
    </div>
