
<div class="row">
 <div class="col-sm-6">
 	<br>
  	<h1>About Mockiato</h1>
  	<br>
  	<p>Mockiato is an inner source project at Optum designed for API virtualization. With Mockatio, you can virtualize REST APIs, SOAP services, and even message-based middleware.</p>
    <p>For more information, please:
      <ul>
        <li>Review our <a href="/api-docs">API documentation</a>, or</li>
        <li>Use the contact form on the right!</li>
      </ul>
  </div>



<div flex layout="row" layout-align="center center">
<div class="col-md-4 pull-right">
    <div class="form-area" ng-controller="ContactFormController">
        <form role="form">
        <br style="clear:both">
                    <h1 style="margin-bottom: 25px; text-align: center;">Contact Us</h1>
    				<div class="form-group">
						<input type="text" ng-model="contactName" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" ng-model="contactEmail" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" ng-model="contactTeam" class="form-control" id="team" name="team" placeholder="Team Name" required>
					</div>
					<div class="form-group">
						<textarea id="message" ng-model="contactMsg" name="message" class="form-control" placeholder="Message" rows="4" required"></textarea>
					</div>


        <button type="button" ng-click="sendMail()" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>
</div>
