<div class="vertical-center">
<div class="loginform">
  <form role="form">
    <div class="form-group">
      <label>User</label>
      <input required type="text" name="username" ng-model="credentials.username" placeholder="Enter your username" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input required type="password" name="password" ng-model="credentials.password" placeholder="Enter your password" class="form-control">
    </div>
    <button ng-disabled="!(credentials.username && credentials.password)" type="submit" class="btn btn-lg btn-primary center-block" ng-click="loginUser(credentials)">Login</button>
  </form>
  </br>
  <a href="/register">Using Mockiato externally? Register an account here.</a>
  <!-- TEsting -->
</div>
</div>