<h2 ng-style="{'color':isServiceRunning}">Test Service</h2>
<p class="text-muted" style='font-size: 10.5px;color: rgba(255,0,0,0.73)' ng-show="isServiceRunning !== '#333'">**This service is stopped.</p>
<p>You can test your mocked service here. There are individual requests below service detail section. To test a request each request section has a <b>Send</b> button.</p>
<br>

        <form name="form" class="well col-xs-12">
          <!-- @depends /includes/restClientServiceHeader.html -->
          <!-- @depends /includes/restClientRRPairs.html -->
        
        </form>
