<h2>Select a Source Material</h2>
<p>Mockiato is an open source project developed at Optum for API virtualization. With Mockiato, you can virtualize REST APIs, SOAP services, and message-oriented middleware. Get started by selecting from the supported source materials below!</p>
<br>
<table class='table borderless'>
    <tr>
        <td><a href="#!addservice" class="btn btn-primary btn-lg" role="button">REQ/RES Pair</a></td>
        <td>Mock from request / response pairs. Customize paths, methods, headers, parameters, response times, etc.</td>
    </tr>
    <tr>
        <td><a href="#!bulkUpload" class="btn btn-info btn-lg" role="button">Bulk Upload</a></td>
        <td>Mock from request / response pairs by bulk upload.</td>
    </tr>
    <tr>
        <td><a href="#!spec/openapi" class="btn btn-success btn-lg" role="button">OpenAPI</a></td>
        <td>Mock a REST service from an OpenAPI spec.</td>
    </tr>
    <tr>
        <td><a href="#!spec/wsdl" class="btn btn-warning btn-lg" role="button">WSDL</a></td>
        <td>Mock a SOAP service from a WSDL.</td>
    </tr>
    <tr>
        <td><a href="#!createRecorder" class="btn btn-danger btn-lg" role="button">Record</a></td>
        <td>Create a virtual service by recording HTTP traffic.</td>
    </tr>
    <tr>
        <td><a href="#!addTemplate" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-import"></i>Import</a></td>
        <td>You may import a virtual service in JSON format. This can be used in tandem with the export feature on the Browse page.</td>
    </tr>
</table>
