<h2>Browse Mocked Services</h2>
<div class="clearfix"></div>
<br>
    <div class="col-xs-12" >
    <form class="form-inline">
        <div class="form-group">
            <label for="system_under_test">Group:</label>
            <select class="form-control" id="system_under_test" title="Select SUT" ng-model="selectedSut" ng-options="sut.name for sut in sutlist | orderBy:'name'"></select>
            <label for="system_under_test">Owner:</label>
            <select class="form-control" id="user" title="Select Owner" ng-model="selectedUser" ng-options="user.name for user in userlist | orderBy:'name'"></select>&nbsp;
            <button type="submit" class="btn btn-primary" ng-click="filtersSelected(selectedSut, selectedUser)">Find</button>&nbsp;
            <button type="submit" class="btn btn-default" ng-click="clearSelected()">Clear</button>
        </div>
    </form>
    </div>
    <div class="clearfix">
        <br>
        <br>
    </div>
    <div class="col-xs-12" >
        <table class="table table-bordered table-striped well">
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Group</th>
                <th>Type</th>
                <th>Txn Count</th>
                <th>Base URL</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="service in servicelist" style=" word-break:break-all">
                <td style="width:120px"><a href="#!update/{{ service._id }}/frmServHistory">{{service.name}}</a></td>
                <td>{{service.user.uid}}</td>
                <td style="width:120px">{{service.sut.name}}</td>
                <td>{{service.type}}</td>
                <td>{{service.txnCount}}</td>
                <td class="urlmax">{{ mockiatoHost + '/virtual' + service.basePath }}</td>
                <td>
                    <button class="btn btn-danger" ng-show="service.running === true" ng-click="toggleService(service)">Stop <i class="glyphicon glyphicon-stop"></i></button>
                    <button class="btn btn-success" ng-show="service.running === false" ng-click="toggleService(service)">Start <i class="glyphicon glyphicon-play"></i></button>&nbsp;
                    <button class="btn btn-info" title="Service Info" ng-click="serviceInfo(service._id)"><i class="glyphicon glyphicon-info-sign"></i></button>&nbsp;
                    <button class="btn btn-primary" title="Export your service as a JSON file to save, send, or import anytime" ng-click="exportService(service)">Export <i class="glyphicon glyphicon-export"></i></button>&nbsp;
                    <button class="btn btn-default" title="Delete service" ng-click="deleteService(service)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </table>
    </div>
