<h2>Update Mock Service</h2>
<div class="form-group req row">
    <label class="col-xs-2"></label>
    <div class="col-xs-8">
    </div>
  <div class="col-xs-1" ng-show="servicevo.type !== 'MQ' && showDates ">
      <button class="btn btn-info" title="Api Test" ng-click="goToApiTest()" ng-disabled="isFrmArchive || frmWher == 'frmDraft'">
        Test Service <i class="glyphicon glyphicon-expand"></i>
      </button>
    </div>
  </div>

<fieldset ng-disabled="!canEdit()">
<form name="form" ng-disabled="!canEdit()" class="well col-xs-12">
  <!-- @depends /includes/serviceHeader.html -->
  <!-- @depends /includes/rrPairs.html -->

  <div class="form-group row">
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid || !canEdit()" type="button" class="btn btn-xl btn-primary center-block" ng-click="updateService(servicevo)">Update</button>
    </div>
  </div>
</fieldset>
</form>

<script>
  $(document).ready(function(){
    $('#req-header-0_value').prop('disabled', true);
    $('#req-head-val-0').prop('disabled', true);
  });
</script>
