<h2>Update Mock Service</h2>
<h4 ng-show="!canEdit() && !isFrmArchive" class="text-info">You are unable to edit this service because you aren't part of the group "{{servicevo.sut.name}}". You can request access from the user: {{servicevo.lastUpdateUser}}.</h4>
<fieldset ng-disabled="!canEdit()">
<form name="form" ng-disabled="!canEdit()" class="well col-xs-12">
  <!-- @depends /includes/serviceHeader.html -->
  <!-- @depends /includes/rrPairs.html -->

  <div class="form-group row">
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid || !canEdit()" type="button" class="btn btn-xl btn-primary center-block" ng-click="updateService(servicevo)">Update</button>
    </div>
  </div>
</fieldset>
</form>

<script>
  $(document).ready(function(){
    $('#req-header-0_value').prop('disabled', true);
    $('#req-head-val-0').prop('disabled', true);
  });
</script>
