<h2>Finalize Recording</h2>
<h4 ng-show="!canEdit()" class="text-info">You are unable to edit this service because you aren't part of the group "{{servicevo.sut.name}}".</h4>
<fieldset ng-disabled="!canEdit()">
<form name="form" class="well col-xs-12">
  <!-- @depends /includes/serviceHeader.html  -->
  <!-- @depends /includes/rrPairs.html -->
 <div class="form-group row">
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid || (servicevo.rawpairs.length == 0)" type="button" class="btn btn-xl btn-primary center-block" ng-click="publishService(servicevo)">Finalize and Publish</button>
    </div>
  </div>
</fieldset>
</form>

<script>
  $(document).ready(function(){
    $('#req-header-0_value').prop('disabled', true);
    $('#req-head-val-0').prop('disabled', true);
  });
</script>
