<h2>Finalize Recording</h2>
<form name="form" class="well col-xs-12">
  <div class="form-group row">
    <label for="service_payloadtype" class="col-xs-2 col-form-label">Service Type:</label>
    <div class="col-xs-8">
      <div class="radio">
        <label class="move-radios">
            <input ng-model="servicevo.type" id="service_type" type="radio" ng-value="'SOAP'" ng-disabled="true">
              SOAP
        </label>
        <label class="move-radios">
            <input ng-model="servicevo.type" id="service_type" type="radio" ng-value="'REST'" ng-disabled="true">
              REST
        </label>
        <!--<label class="move-radios">
          <input ng-model="servicevo.type" id="service_type" type="radio" ng-value="'MQ'" ng-disabled="true">
            MQ
        </label>-->
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="system_under_test" class="col-xs-2 col-form-label">Group:</label>
    <div class="col-xs-2">
      <input required type="text" id="system_under_test" class="form-control" ng-model="servicevo.sut.name" placeholder="Enter new group" ng-disabled="true">
    </div>
  </div>

  <div class="form-group row">
    <label for="service_name" class="col-xs-2 col-form-label">Name:</label>
    <div class="col-xs-9">
      <input required type="text" id="service_name" class="form-control" ng-model="servicevo.name" placeholder="Enter Service Name" ng-disabled="true">
    </div>
  </div>

  <div class="form-group row" ng-show="servicevo.type !== 'MQ'">
    <label for="service_base_path" class="col-xs-2 col-form-label">Base Path:</label>
    <div class="col-xs-9">
      <div class="input-group">
        <div class="input-group-addon">/virtual/{{servicevo.sut.name}}/</div>
        <input ng-required="servicevo.type !== 'MQ'" type="text" id="service_endpoint" class="form-control" ng-model="servicevo.basePath" placeholder="Enter Base Path" ng-disabled="false">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="service_delay" class="col-xs-2 col-form-label">Response Delay (ms):</label>
    <div class="col-xs-2">
      <input type="number" id="service_delay" class="form-control" ng-model="servicevo.delay" placeholder="0" ng-pattern="/^[0-9]{1,9}$/"
         onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 
              && event.charCode <= 57" onpaste="return false" />
    </div>
    <div class="col-xs-1 conjunction">to</div>
    <div class="col-xs-2">
        <input type="number" id="service_delayMax" class="form-control" ng-model="servicevo.delayMax" placeholder="0" ng-pattern="/^[0-9]{1,9}$/"
         onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 
              && event.charCode <= 57" onpaste="return false" />
      </div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Match Templates:</label>
    <div class="col-xs-9">
      <fieldset data-ng-repeat="template in servicevo.matchTemplates">
        <div class="row">
          <div class="col-xs-10">
            <textarea class="form-control vertResize" ng-model="template.val" placeholder="Define a template for request matching"></textarea><br>
          </div>

          <div class="col-xs-1">
            <button type="button" class="btn btn-warning" ng-show="$last && !$first" ng-click="removeTemplate($index)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </div>

          <div class="col-xs-1">
            <button type="button" class="btn btn-success" ng-show="$last" ng-click="addTemplate()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <!--<div class="form-group row">
    <label class="col-xs-2 col-form-label">Created At:</label>
    <div class="col-xs-3"><input id="created_datetime" class="form-control" ng-model="servicevo.createdAt" ng-disabled="true"></div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Updated At:</label>
    <div class="col-xs-3"><input id="updated_datetime" class="form-control" ng-model="servicevo.updatedAt" ng-disabled="true"></div>
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Updated By:</label>
    <div class="col-xs-3"><input id="updated_user" class="form-control" ng-model="servicevo.lastUpdateUser" ng-disabled="true"></div>
  </div>-->

  <!--begin RR pairs-->
    <fieldset id="rrpairs" data-ng-repeat="rr in servicevo.rawpairs | limitTo:totalDisplayed">
    <hr style="height:1px;border:none;color:#9f9696;background-color:#9f9696;" />
      <div class="form-group row">
        <div class="col-xs-10">
          <h4><ins><i>Request / Response Pair</i></ins></h4>
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type !== 'MQ'">
        <label for="service_method" class="col-xs-2 col-form-label">Label:</label>
        <div class="col-xs-3">
          <input type="text" id="service_path" class="form-control" ng-model="rr.label" placeholder="Enter Label for this RR Pair">
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type === 'REST'">
        <label for="service_method" class="col-xs-2 col-form-label">HTTP Method:</label>
        <div class="col-xs-3">
          <div class="radio">
              <select ng-model="rr.method" class="form-control"  ng-required="servicevo.type === 'REST' && !rr.method">
                  <option value="GET" ng-value="'GET'">GET</option>
                  <option value="POST" ng-value="'POST'">POST</option>
                  <option value="UPDATE" ng-value="'UPDATE'">UPDATE</option>
                  <option value="DELETE" ng-value="'DELETE'">DELETE</option>
                  <option value="PATCH" ng-value="'PATCH'">PATCH</option>
                  <option value="PUT" ng-value="'PUT'">PUT</option>
                  <option value="HEAD" ng-value="'HEAD'">HEAD</option>
                  <option value="CONNECT" ng-value="'CONNECT'">CONNECT</option>
                  <option value="OPTIONS" ng-value="'OPTIONS'">OPTIONS</option>
                  <option value="TRACE" ng-value="'TRACE'">TRACE</option>              
                </select>
          </div>
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type === 'REST'">
        <label for="service_endpoint" class="col-xs-2 col-form-label">Relative Path:</label>
        <div class="col-xs-9">
          <div class="input-group">
              <div class="input-group-addon">/</div>
              <input type="text" ng-pattern="/^[A-Za-z0-9!\-_.+=?&^%$#@!<>]+(?:[\S\\\/][A-Za-z0-9!\-_.+=?&^%$#@!<>]+)*$/" id="service_path" class="form-control" ng-model="rr.path" placeholder="Enter Relative Path">
          </div>
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type === 'REST'">
        <label class="col-xs-2 col-form-label">Queries:</label>
        <div class="col-xs-9">
          <fieldset data-ng-repeat="q in rr.queriesArr">
              <div class="row">
                <div class="col-xs-5">
                  <input type="text" class="form-control" ng-model="q.k" placeholder="e.g. name">
                </div>

                <div class="col-xs-5">
                  <input type="text" class="form-control" ng-model="q.v" placeholder="e.g. value">
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-warning" ng-show="$last && !$first" ng-click="removeQuery(rr)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-success" ng-show="$last" ng-click="addQuery(rr)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </div>
          </fieldset>
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type === 'REST'">
          <label for="service_payloadtype" class="col-xs-2 col-form-label">Payload Type:</label>
          <div class="col-xs-9">
            <div class="radio">
              <label class="move-radios">
                  <input ng-model="rr.payloadType" id="service_payloadtype" ng-click="setContentType(rr, 'application/json')" type="radio" ng-value="'JSON'" ng-required="servicevo.type === 'REST' && !rr.payloadType">
                    JSON
              </label>
              <label class="move-radios">
                  <input ng-model="rr.payloadType" id="service_payloadtype" type="radio" ng-value="'XML'" ng-required="servicevo.type === 'REST' && !rr.payloadType">
                    XML
              </label>
              <label class="move-radios">
                  <input ng-model="rr.payloadType" id="service_payloadtype" type="radio" ng-value="'PLAIN'" ng-required="servicevo.type === 'REST' && !rr.payloadType">
                    Plaintext
              </label>
            </div>
          </div>
        </div>

      <div class="form-group row" ng-show="servicevo.type !== 'MQ'">
        <label class="col-xs-2 col-form-label">Request Headers:</label>
        <div class="col-xs-9">
          <fieldset data-ng-repeat="header in rr.reqHeadersArr">
              <div class="row">
                <div class="col-xs-5">
                  <div angucomplete-alt
                    id="req-header-{{ header.id }}"
                    placeholder="e.g. Content-Type"
                    pause="100"
                    initial-value="header.k"
                    selected-object="header.k"
                    local-data="possibleHeaders"
                    override-suggestions="true"
                    search-fields="name"
                    title-field="name"
                    minlength="3"
                    input-class="form-control"
                    match-class="highlight">
                  </div>
                </div>

                <div class="col-xs-5">
                  <input type="text" class="form-control" id="req-head-val-{{ header.id }}" ng-model="header.v" placeholder="e.g. application/json">
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-warning" ng-show="$last && !$first" ng-click="removeReqHeader(rr)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-success" ng-show="$last" ng-click="addNewReqHeader(rr)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </div>
          </fieldset>
        </div>
      </div>

      <div class="form-group row" ng-class="servicevo.type === 'REST' ? '' : 'req'" ng-show="rr.method !== 'GET' || servicevo.type === 'SOAP'">
        <label for="service_request_payload" class="col-xs-2 col-form-label">Request Payload:</label>
        <div class="col-xs-9">
          <textarea ng-required="servicevo.type !== 'REST'" id="service_request_payload" class="form-control vertResize" ng-model="rr.requestpayload" placeholder="Insert Request Payload"></textarea>
        </div>
      </div>


      <div class="form-group row" ng-show="servicevo.type !== 'MQ'">
        <label for="service_response_status" class="col-xs-2 col-form-label">Response Status:</label>
        <div class="col-xs-2">
          <div angucomplete-alt
            id="res-status"
            placeholder="e.g. 200"
            pause="100"
            initial-value="rr.resStatus.toString()"
            selected-object="rr.resStatus"
            local-data="statusCodes"
            search-fields="value"
            title-field="value,desc"
            minlength="2"
            input-class="form-control"
            match-class="highlight">
          </div>
        </div>
      </div>

      <div class="form-group row" ng-show="servicevo.type !== 'MQ'">
        <label class="col-xs-2 col-form-label">Response Headers:</label>
        <div class="col-xs-9">
          <fieldset data-ng-repeat="header in rr.resHeadersArr">
              <div class="row">
                <div class="col-xs-5">
                  <div angucomplete-alt
                    id="res-header-{{ header.id }}"
                    placeholder="e.g. Content-Type"
                    pause="100"
                    initial-value="header.k"
                    selected-object="header.k"
                    local-data="possibleHeaders"
                    override-suggestions="true"
                    search-fields="name"
                    title-field="name"
                    minlength="3"
                    input-class="form-control"
                    match-class="highlight">
                  </div>
                </div>

                <div class="col-xs-5">
                  <input type="text" class="form-control" id="res-head-val-{{ header.id }}" ng-model="header.v" placeholder="e.g. application/json">
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-warning" ng-show="$last && !$first" ng-click="removeResHeader(rr)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </div>

                <div class="col-xs-1">
                  <button type="button" class="btn btn-success" ng-show="$last" ng-click="addNewResHeader(rr)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </div>
          </fieldset>
        </div>
      </div>

      <div class="form-group row" ng-class="servicevo.type === 'REST' ? '' : 'req'">
        <label for="service_response_payload" class="col-xs-2 col-form-label">Response Payload:</label>
        <div class="col-xs-9">
          <textarea ng-required="servicevo.type !== 'REST'" id="service_response_payload" class="form-control vertResize" ng-model="rr.responsepayload" placeholder="Insert Response Payload"></textarea>
        </div>
      </div>
    </fieldset>

    <div ng-show="totalDisplayed <= servicevo.rawpairs.length">
      <hr style="height:1px;border:none;color:#9f9696;background-color:#9f9696;" />
      <btn class="btn btn-default" ng-click="loadMore()">
        Show more pairs <span class="glyphicon glyphicon-chevron-down"></span>
      </btn>
    </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <button ng-disabled="form.$invalid || (servicevo.rawpairs.length == 0)" type="button" class="btn btn-xl btn-primary center-block" ng-click="publishService(servicevo)">Finalize and Publish</button>
    </div>
  </div>
</form>

<script>
  $(document).ready(function(){
    $('#req-header-0_value').prop('disabled', true);
    $('#req-head-val-0').prop('disabled', true);
  });
</script>
